<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Login - Inicio de sesión</h1>
        <form th:action="@{/login}" method="POST">
            <div>
                <label>Nombre de usuario: </label>
                <input type="text" name="username" placeholder="digite su email ID">
            </div>
            <div>
                <label>Contraseña: </label>
                <input type="password" name="password" placeholder="digite su contraseña">
            </div> 
            <div>
                <button type="submit">Iniciar sesión</button>
            </div>
            <div>
                Si ya tienes una cuenta <a th:href="@{/registro}">Registrate aqui</a>
            </div>
        </form>
        <div>
            <div>Mensaje: </div>
            <!-- SI EL PARAMETRO "error" APARECE EN LA URL -->
            <div th:if="${param.error}">
                <div>Usuario o contraseña invalidos</div>
            </div>
            <!-- SI EL PARAMETRO "logout" APARECE EN LA URL -->
            <div th:if="${param.logout}">
                <div>Ha cerrado sesión exitosamente</div>
            </div>
        </div>
    </body>
</html>
